USE [master]
GO
CREATE DATABASE [RxPharmacyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RxPharmacyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHE\MSSQL\DATA\RxPharmacyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RxPharmacyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHE\MSSQL\DATA\RxPharmacyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RxPharmacyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RxPharmacyDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[IsSeniorCitizen] [bit] NOT NULL,
	[IsPWD] [bit] NOT NULL,
	[SCPWDId] [nvarchar](50) NULL,
	[Points] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[GenericName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SupplierId] [int] NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[RequiresPrescription] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ExpiryDate] [date] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[BrandName] [nvarchar](50) NULL,
	[DosageStrength] [nvarchar](50) NULL,
	[BatchNo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LoginTime] [datetime2](7) NOT NULL,
	[LogoutTime] [datetime2](7) NULL,
	[OpeningCash] [decimal](18, 2) NOT NULL,
	[ClosingCash] [decimal](18, 2) NOT NULL,
	[OpeningNote] [nvarchar](255) NULL,
	[Terminal] [nvarchar](50) NOT NULL,
	[IsClosed] [bit] NOT NULL,
	[TerminalId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockAdjustments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Adjustment] [int] NOT NULL,
	[Reason] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Contact] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terminals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TerminalGuid] [uniqueidentifier] NOT NULL,
	[TerminalCode] [varchar](20) NOT NULL,
	[TerminalName] [varchar](100) NOT NULL,
	[BranchId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[ProductBarcode] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNumber] [nvarchar](50) NOT NULL,
	[SessionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CustomerId] [int] NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[VatAmount] [decimal](18, 2) NOT NULL,
	[VatPercent] [decimal](5, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[AmountTendered] [decimal](18, 2) NOT NULL,
	[Change] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[PrescriptionNumber] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
	[IsVoided] [bit] NOT NULL,
	[VoidReason] [nvarchar](255) NULL,
	[RelatedTransactionId] [int] NULL,
	[TerminalId] [int] NULL,
	[VatExemptAmount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastLogin] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsDeleted]) VALUES (1, N'Analgesics', N'Pain relievers and antipyretics', 0)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsDeleted]) VALUES (2, N'Antibiotics', N'Antibacterial prescription medications', 0)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsDeleted]) VALUES (3, N'Vitamins & Supplements', N'Nutritional and dietary supplements', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Email], [Address], [IsSeniorCitizen], [IsPWD], [SCPWDId], [Points], [CreatedAt]) VALUES (1, N'Walk-in Customer', N'', N'', N'', 0, 0, NULL, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-04-20T09:34:24.0533333' AS DateTime2))
INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Email], [Address], [IsSeniorCitizen], [IsPWD], [SCPWDId], [Points], [CreatedAt]) VALUES (2, N'Jose Rizal', N'09171234567', N'jose@email.com', N'Calamba, Laguna', 1, 0, N'SC-123456', CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-04-20T09:34:24.0533333' AS DateTime2))
INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Email], [Address], [IsSeniorCitizen], [IsPWD], [SCPWDId], [Points], [CreatedAt]) VALUES (3, N'Maria Clara', N'09181234567', N'maria@email.com', N'Intramuros, Manila', 0, 1, N'PWD-654321', CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-04-20T09:34:24.0533333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([Id], [UserId], [LoginTime], [LogoutTime], [OpeningCash], [ClosingCash], [OpeningNote], [Terminal], [IsClosed], [TerminalId]) VALUES (1, 1, CAST(N'2026-04-20T10:20:22.7566667' AS DateTime2), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, N'POS-1', 1, 0)
INSERT [dbo].[Sessions] ([Id], [UserId], [LoginTime], [LogoutTime], [OpeningCash], [ClosingCash], [OpeningNote], [Terminal], [IsClosed], [TerminalId]) VALUES (2, 1, CAST(N'2026-04-20T10:20:47.0300000' AS DateTime2), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, N'POS-1', 1, 0)
INSERT [dbo].[Sessions] ([Id], [UserId], [LoginTime], [LogoutTime], [OpeningCash], [ClosingCash], [OpeningNote], [Terminal], [IsClosed], [TerminalId]) VALUES (3, 1, CAST(N'2026-04-20T10:20:59.4666667' AS DateTime2), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, N'POS-1', 1, 0)
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[StockAdjustments] ON 

INSERT [dbo].[StockAdjustments] ([Id], [ProductId], [UserId], [Adjustment], [Reason], [CreatedAt]) VALUES (1, 22, 3, 10, N'New Delivery', CAST(N'2026-06-05T13:29:14.8933333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StockAdjustments] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [Name], [Contact], [Phone], [Email], [Address], [IsActive]) VALUES (1, N'Unilab Inc.', N'Sales Dept', N'02-8888-1111', N'orders@unilab.com.ph', N'Mandaluyong City', 1)
INSERT [dbo].[Suppliers] ([Id], [Name], [Contact], [Phone], [Email], [Address], [IsActive]) VALUES (2, N'Pascual Laboratories', N'Trade Division', N'02-7777-2222', N'orders@pascual.com.ph', N'Quezon City', 1)
INSERT [dbo].[Suppliers] ([Id], [Name], [Contact], [Phone], [Email], [Address], [IsActive]) VALUES (3, N'Novartis Philippines', N'Key Accounts', N'02-6666-3333', N'orders@novartis.ph', N'Makati City', 1)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Terminals] ON 

INSERT [dbo].[Terminals] ([Id], [TerminalGuid], [TerminalCode], [TerminalName], [BranchId], [IsActive], [CreatedDate]) VALUES (1, N'697067ae-d690-434d-bea6-16bf2148c104', N'POS-01', N'Front Counter', 1, 1, CAST(N'2026-06-05T16:08:28.970' AS DateTime))
INSERT [dbo].[Terminals] ([Id], [TerminalGuid], [TerminalCode], [TerminalName], [BranchId], [IsActive], [CreatedDate]) VALUES (2, N'b9e8d2cd-96b5-4d06-ad60-69ceef473001', N'POS-02', N'Back Counter', 1, 1, CAST(N'2026-06-05T16:08:28.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[Terminals] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionItems] ON 

INSERT [dbo].[TransactionItems] ([Id], [TransactionId], [ProductId], [ProductName], [ProductBarcode], [Quantity], [UnitPrice], [DiscountAmount], [LineTotal]) VALUES (1, 1, 1, N'Biogesic 500mg', N'4800888111111', 2, CAST(5.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[TransactionItems] ([Id], [TransactionId], [ProductId], [ProductName], [ProductBarcode], [Quantity], [UnitPrice], [DiscountAmount], [LineTotal]) VALUES (2, 2, 3, N'Alaxan FR', N'4800888222222', 1, CAST(12.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)))
INSERT [dbo].[TransactionItems] ([Id], [TransactionId], [ProductId], [ProductName], [ProductBarcode], [Quantity], [UnitPrice], [DiscountAmount], [LineTotal]) VALUES (3, 3, 2, N'Biogesic 250mg Syrup', N'4800888111112', 1, CAST(68.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(68.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TransactionItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [Phone], [Role], [IsActive], [CreatedAt], [LastLogin]) VALUES (1, N'admin', N'$2a$11$sAjTIc4RjxUrKMA2gYG7Le9inHbseWwP2uflLobEFi8Wen9CFa9DS', N'System Administrator', N'kyleharveyeclevia@gmail.com', N'09688969045', N'Admin', 1, CAST(N'2026-04-20T10:19:52.6066667' AS DateTime2), CAST(N'2026-07-17T16:20:52.1933333' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [Phone], [Role], [IsActive], [CreatedAt], [LastLogin]) VALUES (2, N'cashier', N'$2a$11$tzcB59Lsu8XnY0Sgg9WGZuFfF5XuxqaCBHPBHqPqhAUn3h0pzI3ba', N'Cashier', N'', N'', N'Cashier', 1, CAST(N'2026-04-20T10:54:52.8833333' AS DateTime2), CAST(N'2026-07-01T15:50:43.9800000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [Phone], [Role], [IsActive], [CreatedAt], [LastLogin]) VALUES (3, N'khe', N'$2a$11$nnh459I5G3gdlf5PpaByfu3p7sUyNetDoIUA7niPT1cUxGpr6t/xK', N'Kyle Admin', N'kyleharveyeclevia@gmail.com', N'09688969045', N'Admin', 1, CAST(N'2026-06-05T13:26:35.9766667' AS DateTime2), CAST(N'2026-06-05T13:27:24.2200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Terminals] ADD UNIQUE NONCLUSTERED 
(
	[TerminalGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Terminals] ADD UNIQUE NONCLUSTERED 
(
	[TerminalCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Terminals] ADD  CONSTRAINT [UQ_Terminals_TerminalCode] UNIQUE NONCLUSTERED 
(
	[TerminalCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Transactions] ADD UNIQUE NONCLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('') FOR [Phone]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('') FOR [Address]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsSeniorCitizen]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsPWD]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('') FOR [GenericName]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('pcs') FOR [Unit]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [CostPrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [SellingPrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((10)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [RequiresPrescription]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('') FOR [BrandName]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('') FOR [DosageStrength]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('') FOR [BatchNo]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ((0)) FOR [OpeningCash]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ((0)) FOR [ClosingCash]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ('POS-1') FOR [Terminal]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ((0)) FOR [TerminalId]
GO
ALTER TABLE [dbo].[StockAdjustments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ('') FOR [Contact]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ('') FOR [Phone]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ('') FOR [Address]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Terminals] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Terminals] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  DEFAULT ((0)) FOR [LineTotal]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Sale') FOR [TransactionType]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [VatAmount]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((12)) FOR [VatPercent]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [AmountTendered]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [Change]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Cash') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [IsVoided]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Phone]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Cashier') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StockAdjustments]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[StockAdjustments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transactions] ([Id])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([RelatedTransactionId])
REFERENCES [dbo].[Transactions] ([Id])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[Sessions] ([Id])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([PaymentMethod]='HMO' OR [PaymentMethod]='PhilHealth' OR [PaymentMethod]='GCash' OR [PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([TransactionType]='Void' OR [TransactionType]='Return' OR [TransactionType]='Sale'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Cashier' OR [Role]='Pharmacist' OR [Role]='Admin'))
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddProduct]
    @Barcode              NVARCHAR(50),
    @Name                 NVARCHAR(150),
    @BrandName            NVARCHAR(50),
    @GenericName          NVARCHAR(150),
    @Description          NVARCHAR(500),
    @DosageStrength       NVARCHAR(50),
    @Unit                 NVARCHAR(20),
    @CategoryId           INT,
    @SupplierId           INT = NULL,
    @CostPrice            DECIMAL(18,2),
    @SellingPrice         DECIMAL(18,2),
    @StockQuantity        INT,
    @ReorderLevel         INT,
    @RequiresPrescription BIT,
    @ExpiryDate           DATE = NULL,
    @BatchNo              NVARCHAR(50)
    
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Products WHERE Barcode = @Barcode)
    BEGIN
        SELECT -1 AS Result, 'Barcode already exists.' AS Message;
        RETURN;
    END
    INSERT INTO Products
        (Barcode, Name, BrandName, GenericName, Description, DosageStrength, Unit,
         CategoryId, SupplierId, CostPrice, SellingPrice,
         StockQuantity, ReorderLevel, RequiresPrescription,
         IsActive, ExpiryDate, CreatedAt, UpdatedAt, BatchNo)
    VALUES
        (@Barcode, @Name, @BrandName, @GenericName, @Description, @DosageStrength, @Unit,
         @CategoryId, @SupplierId, @CostPrice, @SellingPrice,
         @StockQuantity, @ReorderLevel, @RequiresPrescription,
         1, @ExpiryDate, GETDATE(), GETDATE(), @BatchNo);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS Result, 'Product added.' AS Message;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AdjustStock]
    @ProductId  INT,
    @UserId     INT,
    @Adjustment INT,
    @Reason     NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @CurrentStock INT;
        SELECT @CurrentStock = StockQuantity FROM Products WHERE Id = @ProductId;

        IF @CurrentStock IS NULL
        BEGIN
            SELECT -1 AS Result, 'Product not found.' AS Message;
            ROLLBACK; RETURN;
        END
        IF @CurrentStock + @Adjustment < 0
        BEGIN
            SELECT -1 AS Result,
                'Stock cannot go below zero. Current: ' + CAST(@CurrentStock AS NVARCHAR) AS Message;
            ROLLBACK; RETURN;
        END

        UPDATE Products
        SET    StockQuantity = StockQuantity + @Adjustment,
               UpdatedAt     = GETDATE()
        WHERE  Id = @ProductId;

        INSERT INTO StockAdjustments (ProductId, UserId, Adjustment, Reason, CreatedAt)
        VALUES (@ProductId, @UserId, @Adjustment, @Reason, GETDATE());

        COMMIT;
        SELECT 1 AS Result,
            'Stock adjusted. New qty: ' + CAST(@CurrentStock + @Adjustment AS NVARCHAR) AS Message;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        SELECT -1 AS Result, ERROR_MESSAGE() AS Message;
    END CATCH
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CloseSession]
    @SessionId   INT,
    @ClosingCash DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Sessions
    SET    LogoutTime  = GETDATE(),
           ClosingCash = @ClosingCash,
           IsClosed    = 1
    WHERE  Id = @SessionId;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreateUser]
    @Username     NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
    @FullName     NVARCHAR(100),
    @Email        NVARCHAR(100),
    @Phone        NVARCHAR(30),
    @Role         NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        SELECT -1 AS Result, 'Username already exists.' AS Message;
        RETURN;
    END
    INSERT INTO Users (Username, PasswordHash, FullName, Email, Phone, Role, IsActive, CreatedAt)
    VALUES (@Username, @PasswordHash, @FullName, @Email, @Phone, @Role, 1, GETDATE());
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS Result, 'User created successfully.' AS Message;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ════════════════════════════════════════════════════════════
-- PRODUCT / INVENTORY PROCEDURES
-- ════════════════════════════════════════════════════════════

CREATE   PROCEDURE [dbo].[sp_GetAllProducts]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.Id, p.Barcode, p.Name, p.BrandName, p.GenericName, p.Description,
        p.DosageStrength, p.Unit, p.CategoryId, c.Name AS CategoryName,
        p.SupplierId, s.Name AS SupplierName,
        p.CostPrice, p.SellingPrice,
        p.StockQuantity, p.ReorderLevel,
        p.RequiresPrescription, p.IsActive,
        p.ExpiryDate, p.CreatedAt, p.UpdatedAt, BatchNo,
        CAST(CASE WHEN p.StockQuantity <= p.ReorderLevel    THEN 1 ELSE 0 END AS BIT) AS IsLowStock,
        CAST(CASE WHEN p.ExpiryDate < CAST(GETDATE() AS DATE) THEN 1 ELSE 0 END AS BIT) AS IsExpired,
        CAST(CASE WHEN p.ExpiryDate >= CAST(GETDATE() AS DATE)
                   AND p.ExpiryDate <= DATEADD(DAY, 30, CAST(GETDATE() AS DATE))
                  THEN 1 ELSE 0 END AS BIT) AS IsExpiringSoon
    FROM   Products p
    JOIN   Categories c ON p.CategoryId = c.Id
    LEFT JOIN Suppliers s ON p.SupplierId = s.Id
    ORDER  BY p.Name;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Username, FullName, Email, Phone, Role, IsActive, CreatedAt, LastLogin
    FROM   Users
    ORDER  BY FullName;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetCategories]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Name, Description FROM Categories WHERE IsDeleted = 0 ORDER BY Name;
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetCustomers]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Name, Phone, Email, Address,
           IsSeniorCitizen, IsPWD, SCPWDId, Points
    FROM   Customers ORDER BY Name;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetDashboardStats]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Today DATE = CAST(GETDATE() AS DATE);

    -- Result set 1: today's sales figures
    SELECT
        ISNULL(SUM(CASE WHEN CAST(t.TransactionDate AS DATE) = @Today
                         AND t.TransactionType = 'Sale' AND t.IsVoided = 0
                    THEN t.TotalAmount END), 0) AS TodaySales,
        COUNT(CASE WHEN CAST(t.TransactionDate AS DATE) = @Today
                    AND t.TransactionType = 'Sale' AND t.IsVoided = 0
               THEN 1 END) AS TodayTransactions,
        ISNULL(AVG(CASE WHEN CAST(t.TransactionDate AS DATE) = @Today
                         AND t.TransactionType = 'Sale' AND t.IsVoided = 0
                    THEN t.TotalAmount END), 0) AS AvgTransaction
    FROM   Transactions t;

    -- Result set 2: low stock count
    SELECT COUNT(*) AS LowStockCount
    FROM   Products
    WHERE  IsActive = 1 AND StockQuantity <= ReorderLevel;

    -- Result set 3: recent 10 transactions today
    SELECT TOP 10
        t.Id, t.ReceiptNumber, t.TransactionDate,
        u.FullName AS CashierName,
        t.TotalAmount, t.TransactionType, t.IsVoided
    FROM   Transactions t
    JOIN   Users u ON t.UserId = u.Id
    WHERE  CAST(t.TransactionDate AS DATE) = @Today
    AND t.IsVoided = 0
    ORDER  BY t.TransactionDate DESC;

    -- Result set 4: top 10 low-stock items
    SELECT TOP 10
        p.Id, p.Name, p.StockQuantity, p.ReorderLevel,
        c.Name AS CategoryName,
        CAST(1 AS BIT) AS IsLowStock,
        CAST(CASE WHEN p.ExpiryDate < @Today THEN 1 ELSE 0 END AS BIT) AS IsExpired,
        CAST(0 AS BIT) AS IsExpiringSoon,
        p.Barcode, p.GenericName, p.Unit,
        p.CategoryId, p.SupplierId, p.CostPrice, p.SellingPrice,
        p.RequiresPrescription, p.IsActive, p.ExpiryDate,
        p.CreatedAt, p.UpdatedAt
    FROM   Products p
    JOIN   Categories c ON p.CategoryId = c.Id
    WHERE  p.IsActive = 1 AND p.StockQuantity <= p.ReorderLevel
    ORDER  BY p.StockQuantity ASC;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFastMovingItemsByDateRange]
    @StartDate DATE,
    @EndDate   DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        B.ProductId,
        P.Name as ProductName,

        SUM(B.Quantity) AS QuantitySold,
        SUM(B.LineTotal) AS TotalSales,

        CASE
            WHEN SUM(B.Quantity) > 0
            THEN SUM(B.LineTotal) / SUM(B.Quantity)
            ELSE 0
        END AS AverageSellingPrice,

        ISNULL(P.StockQuantity,0) AS StockQuantity,

        CASE
            WHEN P.StockQuantity <= 0 THEN 'OUT OF STOCK'
            WHEN P.StockQuantity <= 10 THEN 'LOW STOCK'
            ELSE 'OK'
        END AS StockStatus,

        ROW_NUMBER() OVER (
            ORDER BY SUM(B.Quantity) DESC
        ) AS [Rank]

    FROM Transactions A
    INNER JOIN TransactionItems B
        ON A.Id = B.TransactionId

    INNER JOIN Products P
        ON P.Id = B.ProductId

    WHERE
        CAST(A.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate
        AND ISNULL(A.IsVoided, 0) = 0

    GROUP BY
        B.ProductId,
        P.Name,
        P.StockQuantity

    ORDER BY
        QuantitySold DESC;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFastMovingItemsByDateRangeWithOffset]
    @StartDate DATE,
    @EndDate   DATE,
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH FastMoving AS 
    (
    SELECT
        B.ProductId,
        P.Name as ProductName,

        SUM(B.Quantity) AS QuantitySold,
        SUM(B.LineTotal) AS TotalSales,

        CASE
            WHEN SUM(B.Quantity) > 0
            THEN SUM(B.LineTotal) / SUM(B.Quantity)
            ELSE 0
        END AS AverageSellingPrice,

        ISNULL(P.StockQuantity,0) AS StockQuantity,

        CASE
            WHEN P.StockQuantity <= 0 THEN 'OUT OF STOCK'
            WHEN P.StockQuantity <= 10 THEN 'LOW STOCK'
            ELSE 'OK'
        END AS StockStatus,

        ROW_NUMBER() OVER (
            ORDER BY SUM(B.Quantity) DESC
        ) AS [Rank],

        COUNT(*) OVER() AS TotalRecords

    FROM Transactions A
    INNER JOIN TransactionItems B
        ON A.Id = B.TransactionId

    INNER JOIN Products P
        ON P.Id = B.ProductId

    WHERE
        CAST(A.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate
        AND ISNULL(A.IsVoided, 0) = 0

    GROUP BY
        B.ProductId,
        P.Name,
        P.StockQuantity
   )

    SELECT
        ProductId,
        ProductName,
        QuantitySold,
        TotalSales,
        AverageSellingPrice,
        StockQuantity,
        StockStatus,
        [Rank],
        TotalRecords
    FROM FastMoving
    ORDER BY QuantitySold ASC, ProductName
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetLowStockProducts]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.Id, p.Barcode, p.Name, p.GenericName, p.Unit,
        p.CategoryId, c.Name AS CategoryName,
        p.SellingPrice, p.CostPrice,
        p.StockQuantity, p.ReorderLevel,
        p.RequiresPrescription, p.IsActive, p.ExpiryDate,
        CAST(1 AS BIT) AS IsLowStock,
        CAST(CASE WHEN p.ExpiryDate < CAST(GETDATE() AS DATE) THEN 1 ELSE 0 END AS BIT) AS IsExpired,
        CAST(0 AS BIT) AS IsExpiringSoon
    FROM   Products p
    JOIN   Categories c ON p.CategoryId = c.Id
    WHERE  p.IsActive = 1
      AND  p.StockQuantity <= p.ReorderLevel
    ORDER  BY p.StockQuantity ASC;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetProductByBarcode]
    @Barcode NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.Id, p.Barcode, p.Name, p.GenericName, p.Unit,
        p.CategoryId, c.Name AS CategoryName,
        p.SellingPrice, p.CostPrice,
        p.StockQuantity, p.ReorderLevel,
        p.RequiresPrescription, p.IsActive, p.ExpiryDate,
        CAST(CASE WHEN p.StockQuantity <= p.ReorderLevel      THEN 1 ELSE 0 END AS BIT) AS IsLowStock,
        CAST(CASE WHEN p.ExpiryDate < CAST(GETDATE() AS DATE) THEN 1 ELSE 0 END AS BIT) AS IsExpired,
        CAST(0 AS BIT) AS IsExpiringSoon
    FROM   Products p
    JOIN   Categories c ON p.CategoryId = c.Id
    WHERE  p.Barcode = @Barcode AND p.IsActive = 1;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetSalesSummaryByDateRange]
    @StartDate DATE,
    @EndDate   DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        COUNT(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN 1 END)     AS TotalCount,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.TotalAmount    END),0) AS TotalSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.DiscountAmount END),0) AS TotalDiscount,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.VatAmount      END),0) AS TotalVat,
        ISNULL((
            SELECT SUM(ti.Quantity)
            FROM   TransactionItems ti
            JOIN   Transactions t2 ON ti.TransactionId = t2.Id
            WHERE  CAST(t2.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate
              AND  t2.TransactionType = 'Sale'
              AND  t2.IsVoided = 0
        ), 0) AS TotalItems
    FROM   Transactions t
    WHERE  CAST(t.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetSessionsByDate]
    @Date DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        s.Id, s.UserId, u.FullName AS CashierName,
        s.LoginTime, s.LogoutTime,
        s.OpeningCash, s.ClosingCash,
        s.Terminal, s.IsClosed,
        (SELECT COUNT(*)
         FROM Transactions t
         WHERE t.SessionId = s.Id
           AND t.TransactionType = 'Sale'
           AND t.IsVoided = 0) AS TxCount,
        ISNULL((SELECT SUM(t2.TotalAmount)
                FROM Transactions t2
                WHERE t2.SessionId = s.Id
                  AND t2.TransactionType = 'Sale'
                  AND t2.IsVoided = 0), 0) AS NetSales
    FROM   Sessions s
    JOIN   Users u ON s.UserId = u.Id
    WHERE  CAST(s.LoginTime AS DATE) = @Date
    ORDER  BY s.LoginTime DESC;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSlowMovingItemsByDateRange]
    @StartDate DATE,
    @EndDate   DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.Id AS ProductId,
        P.Name AS ProductName,

        ISNULL(SUM(T.Quantity), 0) AS QuantitySold,
        ISNULL(SUM(T.LineTotal), 0) AS TotalSales,

        CASE
            WHEN ISNULL(SUM(T.Quantity), 0) > 0
            THEN SUM(T.LineTotal) / SUM(T.Quantity)
            ELSE 0
        END AS AverageSellingPrice,

        ISNULL(P.StockQuantity, 0) AS StockQuantity,

        CASE
            WHEN ISNULL(P.StockQuantity, 0) <= 0 THEN 'OUT OF STOCK'
            WHEN ISNULL(P.StockQuantity, 0) <= 10 THEN 'LOW STOCK'
            ELSE 'OK'
        END AS StockStatus,

        ROW_NUMBER() OVER (
            ORDER BY ISNULL(SUM(T.Quantity), 0) ASC
        ) AS [Rank]

    FROM Products P

    --LEFT JOIN TransactionItems B
    --    ON P.Id = B.ProductId

    --LEFT JOIN Transactions A
    --    ON A.Id = B.TransactionId
    --    AND CAST(A.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate
    --    AND ISNULL(A.IsVoided, 0) = 0
    LEFT JOIN 
    (
        SELECT 
            B.ProductId 
            ,B.Quantity
            ,B.LineTotal
        FROM 
            Transactions A
            LEFT JOIN TransactionItems B ON A.Id = B.TransactionId
        WHERE
            CAST(A.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate
            AND ISNULL(A.IsVoided, 0) = 0
    ) AS T ON P.Id = T.ProductId

    GROUP BY
        P.Id,
        P.Name,
        P.StockQuantity

    ORDER BY
        QuantitySold ASC;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSlowMovingItemsByDateRangeWithOffset]
    @StartDate DATE,
    @EndDate DATE,
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH SlowMoving AS
    (
        SELECT
            P.Id AS ProductId,
            P.Name AS ProductName,

            ISNULL(SUM(T.Quantity), 0) AS QuantitySold,
            ISNULL(SUM(T.LineTotal), 0) AS TotalSales,

            CASE
                WHEN ISNULL(SUM(T.Quantity), 0) > 0
                THEN SUM(T.LineTotal) / SUM(T.Quantity)
                ELSE 0
            END AS AverageSellingPrice,

            ISNULL(P.StockQuantity, 0) AS StockQuantity,

            CASE
                WHEN ISNULL(P.StockQuantity, 0) <= 0 THEN 'OUT OF STOCK'
                WHEN ISNULL(P.StockQuantity, 0) <= 10 THEN 'LOW STOCK'
                ELSE 'OK'
            END AS StockStatus,

            ROW_NUMBER() OVER (
                ORDER BY ISNULL(SUM(T.Quantity), 0) ASC
            ) AS [Rank],

            COUNT(*) OVER() AS TotalRecords

        FROM Products P

        LEFT JOIN
        (
            SELECT
                B.ProductId,
                B.Quantity,
                B.LineTotal
            FROM Transactions A
            INNER JOIN TransactionItems B
                ON A.Id = B.TransactionId
            WHERE
                CAST(A.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate
                AND ISNULL(A.IsVoided, 0) = 0
        ) T ON P.Id = T.ProductId

        GROUP BY
            P.Id,
            P.Name,
            P.StockQuantity
    )

    SELECT
        ProductId,
        ProductName,
        QuantitySold,
        TotalSales,
        AverageSellingPrice,
        StockQuantity,
        StockStatus,
        [Rank],
        TotalRecords
    FROM SlowMoving
    ORDER BY Rank ASC, QuantitySold ASC, ProductName
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetSuppliers]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Name, Contact, Phone, Email, Address, IsActive
    FROM   Suppliers WHERE IsActive = 1 ORDER BY Name;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ════════════════════════════════════════════════════════════
-- QUERY PROCEDURES
-- ════════════════════════════════════════════════════════════

CREATE   PROCEDURE [dbo].[sp_GetTransactionById]
    @TransactionId INT
AS
BEGIN
    SET NOCOUNT ON;
    -- Result set 1: header
    SELECT
        t.Id, t.ReceiptNumber, t.SessionId,
        t.UserId, u.FullName AS CashierName,
        t.CustomerId, c.Name AS CustomerName,
        c.IsSeniorCitizen, c.IsPWD,
        t.TransactionDate, t.TransactionType,
        t.SubTotal, t.DiscountAmount, t.DiscountPercent,
        t.VatAmount, t.VatPercent,
        t.TotalAmount, t.AmountTendered, t.[Change],
        t.PaymentMethod, t.PrescriptionNumber,
        t.Notes, t.IsVoided, t.VoidReason
    FROM   Transactions t
    JOIN   Users u ON t.UserId = u.Id
    LEFT JOIN Customers c ON t.CustomerId = c.Id
    WHERE  t.Id = @TransactionId;

    -- Result set 2: line items
    SELECT
        ti.Id, ti.TransactionId, ti.ProductId,
        ti.ProductName, ti.ProductBarcode,
        ti.Quantity, ti.UnitPrice, ti.DiscountAmount, ti.LineTotal
    FROM   TransactionItems ti
    WHERE  ti.TransactionId = @TransactionId;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetTransactionByReceipt]
    @ReceiptNumber NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @TxId INT = (SELECT Id FROM Transactions WHERE ReceiptNumber = @ReceiptNumber);

    SELECT
        t.Id, t.ReceiptNumber, t.SessionId,
        t.UserId, u.FullName AS CashierName,
        t.CustomerId, c.Name AS CustomerName,
        t.TransactionDate, t.TransactionType,
        t.SubTotal, t.DiscountAmount, t.DiscountPercent,
        t.VatAmount, t.VatPercent,
        t.TotalAmount, t.AmountTendered, t.[Change],
        t.PaymentMethod, t.PrescriptionNumber,
        t.Notes, t.IsVoided, t.VoidReason
    FROM   Transactions t
    JOIN   Users u ON t.UserId = u.Id
    LEFT JOIN Customers c ON t.CustomerId = c.Id
    WHERE  t.Id = @TxId;

    SELECT
        ti.Id, ti.TransactionId, ti.ProductId,
        ti.ProductName, ti.ProductBarcode,
        ti.Quantity, ti.UnitPrice, ti.DiscountAmount, ti.LineTotal
    FROM   TransactionItems ti
    WHERE  ti.TransactionId = @TxId;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetTransactionsByDateRange]
    @StartDate DATE,
    @EndDate   DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        t.Id, t.ReceiptNumber, t.SessionId,
        t.UserId, u.FullName AS CashierName,
        t.CustomerId, c.Name AS CustomerName,
        t.TransactionDate, t.TransactionType,
        t.SubTotal, t.DiscountAmount, t.VatAmount,
        t.TotalAmount, t.AmountTendered, t.[Change],
        t.PaymentMethod, t.IsVoided, t.VoidReason
    FROM   Transactions t
    JOIN   Users u ON t.UserId = u.Id
    LEFT JOIN Customers c ON t.CustomerId = c.Id
    WHERE  CAST(t.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate
    ORDER  BY t.TransactionDate DESC;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetUserById]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Username, PasswordHash, FullName, Email, Phone, Role, IsActive, CreatedAt, LastLogin
    FROM   Users WHERE Id = @UserId;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ════════════════════════════════════════════════════════════
-- REPORTING PROCEDURES
-- ════════════════════════════════════════════════════════════

CREATE   PROCEDURE [dbo].[sp_GetXReadData]
    @SessionId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Result set 1: session + cashier info
    SELECT
        s.Id AS SessionId, s.LoginTime, s.Terminal, s.OpeningCash,
        u.FullName AS CashierName
    FROM   Sessions s
    JOIN   Users u ON s.UserId = u.Id
    WHERE  s.Id = @SessionId;

    -- Result set 2: aggregated sales summary
    SELECT
        COUNT(CASE WHEN t.TransactionType = 'Sale' AND t.IsVoided = 0 THEN 1 END)
            AS TotalTransactions,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.SubTotal       END),0) AS GrossSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.DiscountAmount END),0) AS TotalDiscount,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.VatAmount      END),0) AS TotalVat,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.TotalAmount    END),0) AS NetSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 AND t.PaymentMethod='Cash'       THEN t.TotalAmount END),0) AS CashSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 AND t.PaymentMethod='Card'       THEN t.TotalAmount END),0) AS CardSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 AND t.PaymentMethod='GCash'      THEN t.TotalAmount END),0) AS GCashSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 AND t.PaymentMethod='PhilHealth' THEN t.TotalAmount END),0) AS PhilHealthSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Return'                 THEN t.TotalAmount END),0) AS RefundAmount,
        ISNULL(SUM(CASE WHEN t.IsVoided = 1                            THEN t.TotalAmount END),0) AS VoidAmount
    FROM   Transactions t
    WHERE  t.SessionId = @SessionId;

    -- Result set 3: items sold count
    SELECT ISNULL(SUM(ti.Quantity), 0) AS ItemsSold
    FROM   TransactionItems ti
    JOIN   Transactions t ON ti.TransactionId = t.Id
    WHERE  t.SessionId = @SessionId
      AND  t.TransactionType = 'Sale'
      AND  t.IsVoided = 0;

   -- Result set 4: items sold
    SELECT 
        ti.Id,
        ti.ProductId,
        ti.ProductName,
        ti.ProductBarcode,
        ti.Quantity,
        ti.UnitPrice,
        ti.LineTotal
    FROM   TransactionItems ti
    JOIN   Transactions t ON ti.TransactionId = t.Id
    WHERE  t.SessionId = @SessionId
      AND  t.TransactionType = 'Sale'
      AND  t.IsVoided = 0;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetZReadData]
    @SessionId   INT,
    @ClosingCash DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    -- Result set 1: session info
    SELECT
        s.Id AS SessionId, s.LoginTime, s.OpeningCash, s.Terminal,
        @ClosingCash AS ClosingCash,
        u.FullName AS CashierName
    FROM   Sessions s
    JOIN   Users u ON s.UserId = u.Id
    WHERE  s.Id = @SessionId;

    -- Result set 2: full sales summary (includes ItemsSold)
    SELECT
        COUNT(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN 1 END) AS TotalTransactions,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.SubTotal       END),0) AS GrossSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.DiscountAmount END),0) AS TotalDiscount,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.VatAmount      END),0) AS TotalVat,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 THEN t.TotalAmount    END),0) AS NetSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 AND t.PaymentMethod='Cash'       THEN t.TotalAmount END),0) AS CashSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 AND t.PaymentMethod='Card'       THEN t.TotalAmount END),0) AS CardSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 AND t.PaymentMethod='GCash'      THEN t.TotalAmount END),0) AS GCashSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Sale' AND t.IsVoided=0 AND t.PaymentMethod='PhilHealth' THEN t.TotalAmount END),0) AS PhilHealthSales,
        ISNULL(SUM(CASE WHEN t.TransactionType='Return'                 THEN t.TotalAmount END),0) AS RefundAmount,
        ISNULL(SUM(CASE WHEN t.IsVoided=1                               THEN t.TotalAmount END),0) AS VoidAmount,
        ISNULL((SELECT SUM(ti2.Quantity)
                FROM TransactionItems ti2
                JOIN Transactions t2 ON ti2.TransactionId = t2.Id
                WHERE t2.SessionId = @SessionId
                  AND t2.TransactionType = 'Sale'
                  AND t2.IsVoided = 0), 0) AS ItemsSold
    FROM   Transactions t
    WHERE  t.SessionId = @SessionId;

    -- Result set 3: hourly sales breakdown
    SELECT
        DATEPART(HOUR, t.TransactionDate) AS [Hour],
        COUNT(*)                           AS [Count],
        SUM(t.TotalAmount)                 AS Amount
    FROM   Transactions t
    WHERE  t.SessionId       = @SessionId
      AND  t.TransactionType = 'Sale'
      AND  t.IsVoided        = 0
    GROUP  BY DATEPART(HOUR, t.TransactionDate)
    ORDER  BY [Hour];

    -- Result set 4: top 10 products
    SELECT TOP 10
        ti.ProductName,
        SUM(ti.Quantity) AS QuantitySold,
        SUM(ti.LineTotal) AS Revenue
    FROM   TransactionItems ti
    JOIN   Transactions t ON ti.TransactionId = t.Id
    WHERE  t.SessionId       = @SessionId
      AND  t.TransactionType = 'Sale'
      AND  t.IsVoided        = 0
    GROUP  BY ti.ProductName
    ORDER  BY Revenue DESC;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ════════════════════════════════════════════════════════════
-- AUTH & USER PROCEDURES
-- ════════════════════════════════════════════════════════════

CREATE   PROCEDURE [dbo].[sp_LoginUser]
    @Username NVARCHAR(50),
    @Terminal NVARCHAR(50) = 'POS-1'
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Username, PasswordHash, FullName, Email, Phone, Role, IsActive, LastLogin
    FROM   Users
    WHERE  Username = @Username AND IsActive = 1;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_OpenSession]
    @UserId      INT,
    @Terminal    NVARCHAR(50),
    @OpeningCash DECIMAL(18,2) = 0
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Sessions (UserId, LoginTime, OpeningCash, Terminal, IsClosed)
    VALUES (@UserId, GETDATE(), @OpeningCash, @Terminal, 0);
    SELECT SCOPE_IDENTITY() AS SessionId;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OpenSessionWithTerminalId]
    @UserId INT,
    @TerminalId INT,
    @OpeningCash DECIMAL(18,2),
    @AllowTerminalSwitch BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SessionId INT = -1;

    -----------------------------------------------------------------------
    -- User already has an open session on this terminal
    -----------------------------------------------------------------------
    IF EXISTS
    (
        SELECT 1
        FROM Sessions
        WHERE UserId = @UserId
          AND TerminalId = @TerminalId
          AND IsClosed = 0
    )
    BEGIN
        SELECT @SessionId = Id
        FROM Sessions
        WHERE UserId = @UserId
          AND TerminalId = @TerminalId
          AND IsClosed = 0;

        SELECT
            @SessionId AS SessionId,
            'SUCCESS' AS Message;

        RETURN;
    END

    -----------------------------------------------------------------------
    -- User already has an open session on another terminal
    -----------------------------------------------------------------------
    IF EXISTS
    (
        SELECT 1
        FROM Sessions
        WHERE UserId = @UserId
          AND IsClosed = 0
          AND TerminalId <> @TerminalId
    )
    BEGIN
        IF @AllowTerminalSwitch = 1
        BEGIN
            SELECT @SessionId = Id
            FROM Sessions
            WHERE UserId = @UserId
              AND IsClosed = 0;

            SELECT
                @SessionId AS SessionId,
                'SUCCESS' AS Message;
        END
        ELSE
        BEGIN
            SELECT
                -1 AS SessionId,
                'USER_ALREADY_LOGGED_IN_ON_ANOTHER_TERMINAL' AS Message;
        END

        RETURN;
    END

    -----------------------------------------------------------------------
    -- No active session, create a new one
    -----------------------------------------------------------------------
    INSERT INTO Sessions
    (
        UserId,
        TerminalId,
        LoginTime,
        OpeningCash
    )
    VALUES
    (
        @UserId,
        @TerminalId,
        GETDATE(),
        @OpeningCash
    );

    SELECT
        CAST(SCOPE_IDENTITY() AS INT) AS SessionId,
        'SUCCESS' AS Message;
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
    sp_ProcessReturn
    ----------------
    Same OPENJSON fix as sp_ProcessSale — uses @ReturnItems table variable.
*/
CREATE   PROCEDURE [dbo].[sp_ProcessReturn]
    @OriginalTransactionId INT,
    @ReceiptNumber         NVARCHAR(50),
    @SessionId             INT,
    @UserId                INT,
    @Reason                NVARCHAR(255),
    @ItemsJson             NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF NOT EXISTS (
            SELECT 1 FROM Transactions
            WHERE Id = @OriginalTransactionId AND IsVoided = 0)
        BEGIN
            SELECT -1 AS TransactionId,
                'Original transaction not found or already voided.' AS Message;
            ROLLBACK; RETURN;
        END

        -- Parse JSON into table variable
        DECLARE @ReturnItems TABLE (
            ProductId INT           NOT NULL,
            Quantity  INT           NOT NULL,
            UnitPrice DECIMAL(18,2) NOT NULL
        );

        INSERT INTO @ReturnItems (ProductId, Quantity, UnitPrice)
        SELECT ProductId, Quantity, UnitPrice
        FROM   OPENJSON(@ItemsJson)
               WITH (
                   ProductId INT           '$.ProductId',
                   Quantity  INT           '$.Quantity',
                   UnitPrice DECIMAL(18,2) '$.UnitPrice'
               );

        DECLARE @ReturnTotal DECIMAL(18,2);
        SELECT @ReturnTotal = SUM(Quantity * UnitPrice) FROM @ReturnItems;

        INSERT INTO Transactions
            (ReceiptNumber, SessionId, UserId,
             TransactionDate, TransactionType,
             SubTotal, TotalAmount, AmountTendered, [Change],
             PaymentMethod, RelatedTransactionId, Notes, IsVoided)
        VALUES
            (@ReceiptNumber, @SessionId, @UserId,
             GETDATE(), 'Return',
             @ReturnTotal, @ReturnTotal, 0, 0,
             'Cash', @OriginalTransactionId, @Reason, 0);

        DECLARE @ReturnTxId INT = SCOPE_IDENTITY();

        INSERT INTO TransactionItems
            (TransactionId, ProductId, ProductName, ProductBarcode,
             Quantity, UnitPrice, DiscountAmount, LineTotal)
        SELECT
            @ReturnTxId,
            ri.ProductId,
            p.Name,
            p.Barcode,
            ri.Quantity,
            ri.UnitPrice,
            0,
            ri.Quantity * ri.UnitPrice
        FROM   @ReturnItems ri
        JOIN   Products p ON p.Id = ri.ProductId;

        -- Restore stock
        UPDATE p
        SET    p.StockQuantity = p.StockQuantity + ri.Quantity,
               p.UpdatedAt    = GETDATE()
        FROM   Products p
        JOIN   @ReturnItems ri ON ri.ProductId = p.Id;

        COMMIT;
        SELECT @ReturnTxId AS TransactionId, 'Return processed.' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        SELECT -1 AS TransactionId, ERROR_MESSAGE() AS Message;
    END CATCH
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ════════════════════════════════════════════════════════════
-- TRANSACTION / SALE PROCEDURES
-- ════════════════════════════════════════════════════════════

/*
    sp_ProcessSale
    --------------
    @ItemsJson format (PascalCase — matches C# System.Text.Json with PropertyNamingPolicy=null):
    [{"ProductId":1,"Quantity":2,"UnitPrice":5.00}, ...]

    Fixes applied vs original:
    1. OPENJSON WITH column names are PascalCase to match C# serialized JSON keys.
    2. Stock deduction uses a table variable @CartItems instead of an inline
       OPENJSON subquery inside UPDATE...JOIN (which caused the alias error).
    3. Stock validation likewise uses the pre-parsed table variable.
*/
CREATE   PROCEDURE [dbo].[sp_ProcessSale]
    @ReceiptNumber      NVARCHAR(50),
    @SessionId          INT,
    @UserId             INT,
    @CustomerId         INT            = NULL,
    @SubTotal           DECIMAL(18,2),
    @DiscountAmount     DECIMAL(18,2),
    @DiscountPercent    DECIMAL(5,2),
    @VatAmount          DECIMAL(18,2),
    @TotalAmount        DECIMAL(18,2),
    @AmountTendered     DECIMAL(18,2),
    @Change             DECIMAL(18,2),
    @PaymentMethod      NVARCHAR(20),
    @PrescriptionNumber NVARCHAR(50)   = NULL,
    @Notes              NVARCHAR(500)  = NULL,
    @ItemsJson          NVARCHAR(MAX),
    @TerminalId         INT,
    @VatExemptAmount MONEY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY

        -- ── Step 1: Parse JSON into a table variable ─────────────────────────
        -- Column names MUST match the JSON keys exactly (PascalCase from C#).
        DECLARE @CartItems TABLE (
            ProductId INT          NOT NULL,
            Quantity  INT          NOT NULL,
            UnitPrice DECIMAL(18,2)NOT NULL
        );

        INSERT INTO @CartItems (ProductId, Quantity, UnitPrice)
        SELECT ProductId, Quantity, UnitPrice
        FROM   OPENJSON(@ItemsJson)
               WITH (
                   ProductId INT           '$.ProductId',
                   Quantity  INT           '$.Quantity',
                   UnitPrice DECIMAL(18,2) '$.UnitPrice'
               );

        -- ── Step 2: Validate stock ────────────────────────────────────────────
        DECLARE @InsufficientItem NVARCHAR(200) = NULL;

        SELECT TOP 1 @InsufficientItem =
            p.Name + ' (available: ' + CAST(p.StockQuantity AS NVARCHAR) + ')'
        FROM   @CartItems ci
        JOIN   Products p ON p.Id = ci.ProductId
        WHERE  p.StockQuantity < ci.Quantity;

        IF @InsufficientItem IS NOT NULL
        BEGIN
            SELECT -1 AS TransactionId,
                'Insufficient stock: ' + @InsufficientItem AS Message;
            ROLLBACK;
            RETURN;
        END

        -- ── Step 3: Insert transaction header ─────────────────────────────────
        INSERT INTO Transactions
            (ReceiptNumber, SessionId, UserId, CustomerId,
             TransactionDate, TransactionType,
             SubTotal, DiscountAmount, DiscountPercent,
             VatAmount, VatPercent,
             TotalAmount, AmountTendered, [Change],
             PaymentMethod, PrescriptionNumber, Notes, IsVoided, TerminalId, VatExemptAmount)
        VALUES
            (@ReceiptNumber, @SessionId, @UserId, @CustomerId,
             GETDATE(), 'Sale',
             @SubTotal, @DiscountAmount, @DiscountPercent,
             @VatAmount, 12,
             @TotalAmount, @AmountTendered, @Change,
             @PaymentMethod, @PrescriptionNumber, @Notes, 0, @TerminalId, @VatExemptAmount);

        DECLARE @TransactionId INT = SCOPE_IDENTITY();

        -- ── Step 4: Insert line items ──────────────────────────────────────────
        INSERT INTO TransactionItems
            (TransactionId, ProductId, ProductName, ProductBarcode,
             Quantity, UnitPrice, DiscountAmount, LineTotal)
        SELECT
            @TransactionId,
            ci.ProductId,
            p.Name,
            p.Barcode,
            ci.Quantity,
            ci.UnitPrice,
            0,
            ci.Quantity * ci.UnitPrice
        FROM   @CartItems ci
        JOIN   Products p ON p.Id = ci.ProductId;

        -- ── Step 5: Deduct stock (join Products to table variable, not subquery) ──
        UPDATE p
        SET    p.StockQuantity = p.StockQuantity - ci.Quantity,
               p.UpdatedAt    = GETDATE()
        FROM   Products p
        JOIN   @CartItems ci ON ci.ProductId = p.Id;

        COMMIT;
        SELECT @TransactionId AS TransactionId, 'Sale processed successfully.' AS Message;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        SELECT -1 AS TransactionId, ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SaveCategory]
    @Name        NVARCHAR(150),
    @Description NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Categories
    (
        Name,
        Description
    )
    VALUES
    (
        @Name,
        @Description
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS Result, 'Category saved' AS Message;

END;



GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SaveCustomer]
    @Name               NVARCHAR(200),
    @Phone              NVARCHAR(50),
    @Email              NVARCHAR(200),
    @Address            NVARCHAR(500),
    @IsSeniorCitizen    BIT,
    @IsPWD              BIT,
    @SCPWDId            NVARCHAR(100),
    @Points             INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Customers
        WHERE Name = @Name
    )
    BEGIN
        SELECT -1 AS Result,
               'Customer already exists.' AS Message;
        RETURN;
    END

    INSERT INTO Customers
    (
        Name,
        Phone,
        Email,
        Address,
        IsSeniorCitizen,
        IsPWD,
        SCPWDId,
        Points,
        CreatedAt
    )
    VALUES
    (
        @Name,
        @Phone,
        @Email,
        @Address,
        @IsSeniorCitizen,
        @IsPWD,
        @SCPWDId,
        @Points,
        GETDATE()
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS Result,
           'Customer saved.' AS Message;

END;

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_SearchProducts]
    @Query NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 50
        p.Id, p.Barcode, p.Name, p.GenericName, p.Unit,
        p.CategoryId, c.Name AS CategoryName,
        p.SellingPrice, p.CostPrice,
        p.StockQuantity, p.ReorderLevel,
        p.RequiresPrescription, p.IsActive, p.ExpiryDate,
        CAST(CASE WHEN p.StockQuantity <= p.ReorderLevel      THEN 1 ELSE 0 END AS BIT) AS IsLowStock,
        CAST(CASE WHEN p.ExpiryDate < CAST(GETDATE() AS DATE) THEN 1 ELSE 0 END AS BIT) AS IsExpired,
        CAST(0 AS BIT) AS IsExpiringSoon
    FROM   Products p
    JOIN   Categories c ON p.CategoryId = c.Id
    WHERE  p.IsActive = 1
      AND (p.Barcode    = @Query
        OR p.Name        LIKE '%' + @Query + '%'
        OR p.GenericName LIKE '%' + @Query + '%')
    ORDER  BY CASE WHEN p.Barcode = @Query THEN 0 ELSE 1 END, p.Name;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ToggleUserStatus]
    @UserId        INT,
    @CurrentUserId INT
AS
BEGIN
    SET NOCOUNT ON;
    IF @UserId = @CurrentUserId
    BEGIN
        SELECT -1 AS Result, 'Cannot deactivate yourself.' AS Message;
        RETURN;
    END
    UPDATE Users
    SET    IsActive = CASE WHEN IsActive = 1 THEN 0 ELSE 1 END
    WHERE  Id = @UserId;

    SELECT IsActive AS Result,
           CASE WHEN IsActive = 1 THEN 'User activated.' ELSE 'User deactivated.' END AS Message
    FROM   Users WHERE Id = @UserId;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateCategory]
    @Id  INT,
    @Name        NVARCHAR(150),
    @Description NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        UPDATE Categories
        SET
            Name = @Name,
            Description = @Description
        WHERE Id = @Id;

        IF @@ROWCOUNT = 0
        BEGIN
            SELECT 0 AS Result,
                   'Category not found.' AS Message;
            RETURN;
        END

        SELECT 1 AS Result,
               'Category updated successfully.' AS Message;

    END TRY
    BEGIN CATCH

        SELECT 0 AS Result,
               ERROR_MESSAGE() AS Message;

    END CATCH
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateCustomer]
    @Id                 INT,
    @Name               NVARCHAR(200),
    @Phone              NVARCHAR(50),
    @Email              NVARCHAR(200),
    @Address            NVARCHAR(500),
    @IsSeniorCitizen    BIT,
    @IsPWD              BIT,
    @SCPWDId            NVARCHAR(100),
    @Points             INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Customers
        WHERE Id = @Id
    )
    BEGIN
        SELECT -1 AS Result,
               'Customer not found.' AS Message;
        RETURN;
    END

    IF EXISTS
    (
        SELECT 1
        FROM Customers
        WHERE Name = @Name
          AND Id <> @Id
    )
    BEGIN
        SELECT -1 AS Result,
               'Customer already exists.' AS Message;
        RETURN;
    END

    UPDATE Customers
    SET
        Name = @Name,
        Phone = @Phone,
        Email = @Email,
        Address = @Address,
        IsSeniorCitizen = @IsSeniorCitizen,
        IsPWD = @IsPWD,
        SCPWDId = @SCPWDId,
        Points = @Points
    WHERE Id = @Id;

    SELECT @Id AS Result,
           'Customer updated.' AS Message;

END;

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateLastLogin]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users SET LastLogin = GETDATE() WHERE Id = @UserId;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateProduct]
    @Id                   INT,
    @Barcode              NVARCHAR(50),
    @Name                 NVARCHAR(150),
    @BrandName            NVARCHAR(50),
    @GenericName          NVARCHAR(150),
    @Description          NVARCHAR(500),
    @DosageStrength       NVARCHAR(50),
    @Unit                 NVARCHAR(20),
    @CategoryId           INT,
    @SupplierId           INT = NULL,
    @CostPrice            DECIMAL(18,2),
    @SellingPrice         DECIMAL(18,2),
    @ReorderLevel         INT,
    @RequiresPrescription BIT,
    @IsActive             BIT,
    @ExpiryDate           DATE = NULL,
    @BatchNo              NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Products WHERE Barcode = @Barcode AND Id <> @Id)
    BEGIN
        SELECT -1 AS Result, 'Barcode already used by another product.' AS Message;
        RETURN;
    END
    UPDATE Products
    SET    Barcode = @Barcode, Name = @Name, GenericName = @GenericName,
           Description = @Description, Unit = @Unit,
           CategoryId = @CategoryId, SupplierId = @SupplierId,
           CostPrice = @CostPrice, SellingPrice = @SellingPrice,
           ReorderLevel = @ReorderLevel,
           RequiresPrescription = @RequiresPrescription,
           IsActive = @IsActive, ExpiryDate = @ExpiryDate,
           DosageStrength = @DosageStrength, BrandName = @BrandName,
           UpdatedAt = GETDATE(), BatchNo = @BatchNo
    WHERE  Id = @Id;
    SELECT @@ROWCOUNT AS Result, 'Product updated.' AS Message;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateUser]
    @UserId   INT,
    @FullName NVARCHAR(100),
    @Email    NVARCHAR(100),
    @Phone    NVARCHAR(30),
    @Role     NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users
    SET    FullName = @FullName,
           Email    = @Email,
           Phone    = @Phone,
           Role     = @Role
    WHERE  Id = @UserId;
    SELECT @@ROWCOUNT AS Result, 'User updated.' AS Message;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateUserPassword]
    @UserId       INT,
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users SET PasswordHash = @PasswordHash WHERE Id = @UserId;
    SELECT @@ROWCOUNT AS Result, 'Password updated.' AS Message;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
    sp_VoidTransaction
    ------------------
    Restores stock atomically when a transaction is voided.
*/
CREATE   PROCEDURE [dbo].[sp_VoidTransaction]
    @TransactionId INT,
    @Reason        NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Transactions WHERE Id = @TransactionId)
        BEGIN
            SELECT -1 AS Result, 'Transaction not found.' AS Message;
            ROLLBACK; RETURN;
        END
        IF EXISTS (SELECT 1 FROM Transactions WHERE Id = @TransactionId AND IsVoided = 1)
        BEGIN
            SELECT -1 AS Result, 'Transaction already voided.' AS Message;
            ROLLBACK; RETURN;
        END

        -- Restore stock by joining TransactionItems (no OPENJSON needed here)
        UPDATE p
        SET    p.StockQuantity = p.StockQuantity + ti.Quantity,
               p.UpdatedAt    = GETDATE()
        FROM   Products p
        JOIN   TransactionItems ti ON ti.ProductId = p.Id
        WHERE  ti.TransactionId = @TransactionId;

        UPDATE Transactions
        SET    IsVoided        = 1,
               VoidReason      = @Reason,
               TransactionType = 'Void'
        WHERE  Id = @TransactionId;

        COMMIT;
        SELECT 1 AS Result, 'Transaction voided.' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        SELECT -1 AS Result, ERROR_MESSAGE() AS Message;
    END CATCH
END

GO
USE [master]
GO
